@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Padauk:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #6083fe;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4377fd;
}

:root {
    font-size: 62.4%;
    --Inter: "Inter", sans-serif;
    --OpenSans: "Open Sans", sans-serif;
    --Padauk: 'Padauk', sans-serif;
}
